<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luo.autoclockin.mapper.StudentMapper">
    <insert id="insert" parameterType="com.luo.autoclockin.entity.Student">
        insert into data (stu_id,url) values (#{stu_id},#{url})
    </insert>
    <select id="select" resultType="com.luo.autoclockin.entity.Student">
        select * from data where stu_id = #{stu_id}
    </select>
    <select id="getAllStudent">
        select * from data
    </select>
</mapper>